
@{
    ViewBag.Title = "Gulp前端页面构建测试页面";
}

<h2>Gulp前端页面构建测试页面</h2>


<link href="~/Content/css/demo.css" rel="stylesheet" />
<script src="~/Content/js/demo.js"></script>
<img src="~/Content/images/demo.jpg" />